$btn-dark: #000;
$btn-light: #fff;
$bg-dim: #111;
$bg-dark: #000;
$bg-light: #000;
$bg-hover: #eee;
$btn-hover: #eee;
$red: #d12020;
$text-dark: #000;
$text-light: #fff;
$offer-color: #FF371C;

