@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


//font sizes
$font-small: 16px;
$font-medium: 20px;
$font-big: 22px;
$font-bigger: 28px;
$font-huge: 32px;
$font-veryhuge: 36px;

//font family

$font-roboto: sans-serif ,'roboto';

//font weight
$fontw-light: 100;
$font-regular: 400;
$fontw-medium: 500;
$font-bold: 600;
$font0-bolder: 900;

